* {
    margin:0px;
    padding:0px;
}
.main{
    width:900px;
    height:900px;
    margin:0 auto;
    background-color:lightyellow
}

.footer {
    width: 100%;
    height: 150px;
    background-color:lightgrey
}